<a href="https://colab.research.google.com/github/rogeriodelphi/python_pandas/blob/main/Criando_Estruturas_de_Dados_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [109]:
import pandas as pd

# **Series**

In [110]:
data = [1, 2, 3, 4, 5]

In [111]:
s = pd.Series(data)

In [112]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [113]:
# Criando uma List Comprehensions
index = ['Linha' + str(i) for i in range(len(s))]
index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [114]:
#Criando r칩tulos para as linhas
s = pd.Series(data = data, index = index)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [115]:
#Criando um dicion치rio

In [116]:
data = {'Linha' + str(i): i + 1 for i in range(len(s))}
data

{'Linha0': 1, 'Linha1': 2, 'Linha2': 3, 'Linha3': 4, 'Linha4': 5}

In [117]:
# Criando a Series
s = pd.Series(data)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [118]:
# Criando uma nova Series a partir de uma j치 criada
s1 = s * 10
s1

Linha0    10
Linha1    20
Linha2    30
Linha3    40
Linha4    50
dtype: int64

In [119]:
# Somando duas Series 
s2 = s + s1
s2

Linha0    11
Linha1    22
Linha2    33
Linha3    44
Linha4    55
dtype: int64

# **DataFrame**

### **Criando um Dataframe utilizando Listas**

In [120]:
data = [[1, 2, 3], 
        [4, 5, 6], 
        [7, 8, 9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [121]:
df1 = pd.DataFrame(data = data)
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [122]:
index = ['Linha' + str(i) for i in range(len(df1))]
index

['Linha0', 'Linha1', 'Linha2']

In [123]:
df1 = pd.DataFrame(data = data, index = index)
df1

        0  1  2
Linha0  1  2  3
Linha1  4  5  6
Linha2  7  8  9

In [124]:
columns = ['Coluna' + str(i) for i in range(len(df1))]
columns

['Coluna0', 'Coluna1', 'Coluna2']

In [125]:
df1 = pd.DataFrame(data = data, index = index, columns = columns)
df1

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

### **Criando um Dataframe utilizando Dicion치rios**

In [126]:
data = {'Coluna0': {'Linha0':1, 'Linha1':4, 'Linha2':7}, 
        'Coluna1': {'Linha0':2, 'Linha1':5, 'Linha2':8},
        'Coluna2': {'Linha0':3, 'Linha1':6, 'Linha2':9}}
data

{'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
 'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
 'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}

In [127]:
df2 = pd.DataFrame(data)
df2

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

### **Criando um Dataframe utilizando Tuplas**

In [128]:
data = [(1, 2, 3), 
        (4, 5, 6), 
        (7, 8, 9)]

In [129]:
df3 = pd.DataFrame(data = data, index = index, columns = columns)
df3

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [130]:
df1[df1 > 0] = 'A'
df1

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A

In [131]:
df2[df2 > 0] = 'B'
df2

       Coluna0 Coluna1 Coluna2
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B

In [132]:
df3[df3 > 0] = 'C'
df3

       Coluna0 Coluna1 Coluna2
Linha0       C       C       C
Linha1       C       C       C
Linha2       C       C       C

In [133]:
df4 = pd.concat([df1, df2, df3])
df4

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B
Linha0       C       C       C
Linha1       C       C       C
Linha2       C       C       C

In [134]:
df4 = pd.concat([df1, df2, df3], axis = 1)
df4

       Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2
Linha0       A       A       A       B       B       B       C       C       C
Linha1       A       A       A       B       B       B       C       C       C
Linha2       A       A       A       B       B       B       C       C       C

In [135]:
dados = [[1, 2, 3], [4, 5, 6]]
index = 'X,Y'.split(',')
columns = list('CBA')[::-1]
df = pd.DataFrame(dados, index, columns)
df

   A  B  C
X  1  2  3
Y  4  5  6

In [136]:
dados = {'A': {'X': 1, 'Y': 3}, 'B': {'X': 2, 'Y': 4}}
df = pd.DataFrame(dados)
df

   A  B
X  1  2
Y  3  4